@charset "EUC-KR";

input[id="menuicon"] {display:none; top:100px;}
input[id="menuicon"] + label {display:block;width:35px;height:30px;top:105px;position:absolute;cursor:pointer;}
input[id="menuicon"]:checked + label {overflow:auto; z-index:51;left:0px;top:106px;transition:transform 9s cubic-bezier(0, 0, 0.43, 1.1);}
input[id="menuicon"] + label span {display:block;position:absolute;width:100%;height:5px;border-radius:30px;background:#ffffff;transition: all .35s}
input[id="menuicon"] + label span:nth-child(1) {top:0;}
input[id="menuicon"] + label span:nth-child(2) {top:50%;transform:translateY(-50%);} /* 비슷하게 사용할 수 있는 style top:calc(50% - 2.5px); margin-top:-2.5px;*/
input[id="menuicon"] + label span:nth-child(3) {bottom:0;}
input[id="menuicon"]:checked + label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);background:#000000;}
input[id="menuicon"]:checked + label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked + label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);background:#000000;}
div[class="sidebar"] {overflow:auto;width:250px;height:84%;background:#EEEEEE;position:absolute;top:100px;left:-250px;z-index:50;background-color: hsla(-157, 152%, 98%, 0);transition: all .35s}
input[id="menuicon"]:checked + label + div {left:0px;transition: all .35s}
.accordion {position:absolute;top:17%;left:49%;transform:translateX(-50%);width:249.9px;}
input[id*="answer"] {display:none;}
input[id*="answer"] + label {display:block;padding:20px;border:1px solid #232188;border-bottom:0;color:#fff;font-weight:900;background:#3634a5;cursor:pointer;position:relative;}
input[id*="answer"] + label em {position:absolute;top:50%;right:10px;width:30px;height:30px;margin-top:-15px;display:inline-block;background:url('../image/arrow.png') 0 0 no-repeat;}
input[id*="answer"] + label + div {max-height:0;transition: all .35s;overflow:hidden;background:#ebf8ff;font-size:11px;}
input[id*="answer"] + label + div p {display:inline-block;padding:0px;}
input[id*="answer"]:checked + label + div {max-height:100px;}
input[id*="answer"]:checked + label em {background-position:0 -30px;}
input[id*="amswer"]:checked + label em{background-position:0 -30px;}
