
	 .labelui{
		font-size: 0.9em;
		text-align: center;
		width: 23%;
		display: inline-block;
	 }
	 .widthsize{
	 	width:76%;
	 	padding-left: 0;	
	 }
	 .inputtextwidth{
	 	display: inline-block;
    	width: 71%;
    	padding-left: 0;
	 }



